.inputText{
  display: block;
  margin: auto;
  width: 90%;
  padding: 7px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  margin-top: 2vh;
  color: #fff !important;
}

textarea{
  text-align: center;
  display: block;
  margin: auto !important;
  width: 85% !important;
  margin-top: 15px !important;
  border-radius: 5px 5px 5px 5px;
  color: #fff !important;
}

.border{
  width: 45%;
  margin: auto;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 15px 15px 15px 15px;
 
}


.button{
  padding: 8px;
  margin: auto;
  /* height: 10px; */
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(118, 118, 118);
  color: #0d1117;
  text-transform: uppercase;

}