.inputText{
  display: block;
  margin: auto;
  width: 90%;
  padding: 7px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  margin-top: 15px;
}

textarea{
  text-align: center;
  display: block;
  margin: auto;
  width: 91%;
  margin-top: 15px;
  border-radius: 5px 5px 5px 5px;
}

.border{
  width: 45%;
  margin: auto;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 15px 15px 15px 15px;
}

.button{
  padding: 8px;
  margin: auto;
  /* height: 10px; */
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(118, 118, 118);
  color: #0d1117;
  text-transform: uppercase;

}