.header{
  background-color: #161b22;
  margin-top: 0;
  padding: 1vh;
  text-align: center;
  overflow: hidden;
  margin: auto;
}
.header h2{
  background-color: #161b22;
  font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fafafa;
    padding-bottom: 10px;
}

.header img {
   background-color: #161b22;
    height: 4vh;
    width: 5vh;
    position: relative;
    left: -2%;
    top: 1vh;
}
