.editComment{
  background-color: #6718BB;
  font-size: 3vh;
    text-transform: unset;
    padding: 0.5%;
    border-radius: 5px;
    width: 15vh !important;
    display: inline;
    position: relative;
    margin: 0;
    /* left: 83%;
    bottom: 25%; */

}