.delete{
  background-color: rgb(255 12 4);
  font-size: 2vh;
  text-transform: unset;
  padding: 1.5%;
  border-radius: 5px;
  width: 8vh !important;
  display: inline;
  position: relative;
  margin: 0;
}